* {
    margin: 0;
    
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
}

li {
    color:cornflowerblue;
}

a:hover, a:active  {
    color:gold
}
a:link ,a:visited {
    background-color: violet;
    color: black;
    border: 1px solid green;
}

.em2 {
    font-size: 2em;
}
.em4 {
    font-size: 1em;
}
.rem2 {
    font-size: 2rem;
}
.rem4 {
    font-size: 4rem;
}

.box {
    background-color: #00FFFF;
    margin: 20px 0;
}

#p1, #p2, #p3, #p4{
    width: 50%;
    float: left;
    margin: 5px;
}

#p1 {
    background-color: rgb(114, 54, 175);
}
#p2 {
    background-color: rgb(16, 161, 47);
}
#p3 {
    background-color: rgb(7, 95, 122);
}
#p4 {
    background-color: rgb(146, 100, 15);
}

article {
    clear: left;
}

/* Large Devices */
@media (min-width: 1200px) and (max-width: 1600px){
    #p1{
        background-color: blue;
    }
    #p2{
        background-color: blue;
    }
    #p3{
        background-color: blue;
    }
    #p4{
        background-color: blue;
    }
}


/* Small Devices */
@media (min-width: 400px) and (max-width:1199px) {
    #p1{
        background-color: aquamarine;
    }
    #p2{
        background-color: aquamarine;
    }
    #p3{
        background-color: aquamarine;
    }
    #p4{
        background-color: aquamarine;
    }
}